# DB
DB_URL=
DB_USER=
DB_PASSWORD=

# AWS
AWS_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# SECURITY
# JWT
JWT.SECRET=
JWT.EXPIRATION=
JWT.REFRESH.EXPIRATION=

# ADMIN
ADMIN.USERNAME=
ADMIN.EMAIL=
ADMIN.PASSWORD=

# MONGO
MONGO_URL=

